<div class="d-flex-column p-5 justify-content-center">
    <h1>Checkpoints</h1>
    <hr>
    <div class="d-flex-column">
        <div>
            <form action="/api/checkpoint" method="POST">
                <div class="form-group">
                    <label for="checkpointType">Type</label>
                    <select class="form-control" name="checkpointType" id="checkpointType">
                        <option val="height">Height</option>
                        <option val="weight">Weight</option>
                        <option val="age">Age</option>
                        <option val="other">Other</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="checkpointValue">Info</label>
                    <textarea class="form-control" name="checkpointValue" id="checkpointValue"></textarea>
                </div>
                <div class="form-group">
                    <label for="imageLink">Image URL</label>
                    <input type="text" class="form-control" name="imageLink" id="imageLink">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Submit" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Type</th>
                    <th scope="col">Details</th>
                    <th scope="col">Image URL</th>
                </tr>
            </thead>
            <tbody>

                {{#each checkpoints}}
                <tr>
                    <th scope="row">{{id}}</th>
                    <td>{{createdAt}}</td>
                    <td>{{cpType}}</td>
                    <td>{{value}}</td>
                    <td>{{imageUrl}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>