<div class="d-flex-column p-5 justify-content-center">
    <h1>Checkpoints</h1>
    <hr>
    <div class="d-flex-column">
        <div>
            <form action="/api/checkpoint" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="checkpointType">Type</label>
                    <select class="form-control" name="checkpointType" id="checkpointType">
                        <option val="message">Message</option>
                        <option val="height">Height</option>
                        <option val="weight">Weight</option>
                        <option val="age">Age</option>
                        <option val="other">Other</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="checkpointValue">Info</label>
                    <textarea class="form-control" name="checkpointValue" id="checkpointValue"></textarea>
                </div>
                <div class="form-group">
                    <label for="imgUpload">Image</label>
                    <input type="file" class="form-control" name="imgUpload" id="imgUpload">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Submit" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Type</th>
                    <th scope="col">Details</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>

                {{#each checkpoints}}
                <tr>
                    <th scope="row">{{id}}</th>
                    <td>{{createdAt}}</td>
                    <td id="cp-type-{{id}}">{{cpType}}</td>
                    <td id="cp-message-{{id}}">{{value}}</td>
                    <td id="cp-button-{{id}}">
                        <button type="button" class='btn btn-info editButton' data-id={{id}}>Edit</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>